:root {
  --mainColor: #09c;
}
body{
  background-color: #e8eef5;
}
/*start-navbar*/
.navbar {
  background-color: black;
  color: white;
}

.navbar.navbar-brand {
  color: var(--mainColor);
  font-size: 40px !important;
}

.navbar .nav-link {
  color: aliceblue;
  transition: all 1s;
}

.navbar .navbar-toggler {
  color: white;
}

.navbar .nav-link.active,
.navbar .nav-link:focus,
.navbar .nav-link:hover {
  color: var(--mainColor);
}

.navbar .navbar-toggler:focus {
  color: var(--mainColor);
  box-shadow: none;
}

.navbar .search-icon {
  padding-left: 10px;
  border-left: 1px solid var(--mainColor);
  transition: all 1s;
}

.navbar .search-icon:hover {
  color: var(--mainColor);
}

/*end-navbar*/
/*start landing*/
.landing {
  background-image: url(../img/hero-bg.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.landing-layer {
  height: 100vh;
  background-color: rgba(0, 0, 1, 0.6);
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.landing h1,
.p {
  color: white;
  margin-bottom: 20px;
}

.landing button {
  width: 300px;
  border-radius: 20px;
}

/*end landing*/

/*start about*/
.About {
 background-color:#ffffff;
  padding: 40px;
  margin-top: 70px;
  border-radius: 5px;
}
.About .info .lead {
  color: #4e4e4e;
  font-size: 14px;
}
.About .box-item{
  margin:auto
}
.About .box-item h3 {

  
  color: #212529;
  font-size: 1.1rem;
  margin:5px 0px ;
  font-weight: 300;
  position: relative;
}

.About .skils .box-item h3 span {
  font-size:16px;
position: absolute;
left: 60%;
}

.About .box-item .progress {
  height: 10px;
  background-color: #dee2e6;
  position: relative;
}


.About .box-item .progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #0078ff;
}
.About .about-me{
  position: relative;
}
.About .about-me h1{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.About .about-me h1::after{
  content:'';
  width: 130px;
  background-color: var(--mainColor);
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 5px;
}
.About.myInfo{
  color: #212529;
}
/*end about*/

/*start services*/
.header-service{
  position: relative;
  width: 200px;
  margin: 0px auto;
}
.services h1::after{
  content:'';
  width: 200px;
  background-color: var(--mainColor);
  height: 3px;
  position: absolute;
 bottom: 0;
  left: 0;
}

.services h1,p{
  text-align: center;
}
.our-services{
  background-color: whitesmoke;
  border-radius: 20px;
  text-align: center;
  padding: 10px 20px;

}
.our-services .icon{
  font-size: 40px;
  border: 5px solid var(--mainColor);
  background-color: whitesmoke;
  border-radius: 50%;
  padding: 30px;
  margin-top: 20px;
  transition: all 1s;
}
.our-services:hover .icon{
  color: white;
  background-color:var(--mainColor);
  border: 5px solid rgba(214, 230, 235, 0.9);
}
.our-services h4{
  color: black;
  font-size: 1.4 rem;
  padding: 10px;
}
/*end services*/
/*start experience*/


.experience{
  background-image: url(../img/post-3.jpg);
  background-size: cover;
  background-position: top right;
  background-attachment: fixed;
}
.experience-layer{
background-color: #0077ff6e;
padding: 35px;
}
.experience-layer .icons{
  font-size: 40px;
  border: solid 10px rgba(214, 230, 235, 0.9) ;
 padding: 15px;
  color: whitesmoke;
  border-radius: 40%;
}
/*end experience*/
/*start protoflio*/
.protoflio-header{
  text-align: center;
  width: 200px;
  margin: 0 auto;
  position: relative;
}
.protoflio-header h2{
  font-weight: 600px;
  font-size: 40px;
  color: black;
  line-height: 1.5;
}
.protoflio-header h2::after{
  content:'';
  width: 150px;
  background-color: var(--mainColor);
  height: 3px;
  position: absolute;
 bottom: 0;
  left: 24px;
}
.card .image{
  overflow: hidden;
}
.card .image img{
transition: all 0.5s;

}
.card .image img:hover{
  transform: scale(1.3);
}
.card-body{
  position: relative;
}
.card-body #span-card{
  color:var(--mainColor) ;
}
.card-icon {

 position:absolute;
 bottom:22%;
 right:5px;
 color:var(--mainColor);
 

}
.card-icon .fa-plus{
  color:black;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 50%;
  border: 3px solid var(--mainColor);
  font-size: 30px;
 position: relative;
 bottom: 0px;
 right: 17px;
 transition: all 1s;
}
.card-icon .fa-plus:hover{
  color:var(--mainColor);
}
  /*end protoflio*/
/*start Blog*/
.BLOG-HEADER
{
  text-align: center;
  margin: 50px;
}
.BLOG-HEADER h1,p{
  color: black;
}

.item-div {
  position: relative;
  bottom: 35px;
  left: 100px;
  background-color: #0078ff;
  height: 35px;
  width: 120px;
  border-radius: 10px;
}
.item-div h1{
  font-size: 16px;
  text-align:center ;
  padding-top:7px;
  color: #dee2e6;
}
.card-body img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.card-body .card-title{
  transition: color 1s;
}
.card-body .card-title:hover{
color: var(--mainColor);
}
.card-link{
  text-decoration: none;
  color: #212529;
  transition: all 2s;
}
.card-link:hover{
  color:var(--mainColor);
}
.card-body i{
  padding-left: 25px;
  font-size:14px;
  color: #212529;
  font-weight: 100;
}
/*end Blog*/
/*start contact*/
.contact{
  background-color:#0a58cabf ;
  margin-top: 50px;
overflow: auto;
}
.comment-header{
position: relative;
text-align: center;
width: 290px;
margin:0 auto;
}
.contact .comment-header h1{
  
  font-weight: 200;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
margin-bottom: 20px;
}

.btn {
  width: 140px;
}
.contact .comment-header h1::after{
  content:'';
  width: 140px;
    background-color: var(--mainColor);
    height: 4px;
    position: absolute;
    bottom: -3px;
    left:74px;
}
.icon_footer i{
  color: black;
  font-size: 20px;
  padding: 5px;
  transition: all 2s;

}
.icon_footer {
  width:120px;
  margin: 10px auto;
}
.icon_footer i:hover{

  color: var(--mainColor);
 
}
.my-name{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*end contact*/